<table class="table table-sm table-hover text-nowrap">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th>Mode</th>
            <th>Bénéficiaire</th>
            <th>Catégories</th>
            <th>Etat</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde</th>
            <th>Mémo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% set solde = 0 %}
    {% for item in transactions %}
        <tr>
            <td class="text-center">{{ item.date|date('d/m/Y') }}</td>
            <td>{{ item.payment.code }}</td>
            <td>{% if item.payment.value == constant('INTERNAL', item.payment) %}{{ item.transfer.account.name }}{% else %}{{ item.recipient.name }}{% endif %}</td>
            <td>{{ item.category.fullName }}</td>
            <td></td>
            <td class="text-right text-red">{% if item.amount < 0 %}{{ item.amount|format_currency('EUR', locale='fr') }}{% endif %}</td>
            <td class="text-right text-green">{% if item.amount > 0 %}{{ item.amount|format_currency('EUR', locale='fr') }}{% endif %}</td>
            <td class="text-right">{% set solde = solde + item.amount %}{{ solde|format_currency('EUR', locale='fr') }}</td>
            <td></td>
            <td class="text-right align-middle">
                <a href="{{ path('transaction__edit', {'id': item.id}) }}" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalForm"><i class="fas fa-edit"></i><span class="d-none d-md-inline">&nbsp;Modifier<span></a>
                <a href="{{ path('transaction__remove', {'id': item.id}) }}" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDelete"><i class="fas fa-trash"></i><span class="d-none d-md-inline">&nbsp;Supprimer<span></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucune opérations trouvées</td>
        </tr>
    {% endfor %}
    </tbody>
</table>