{% extends 'base.html.twig' %}

{% form_theme form.filter '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}
{#% form_theme formRecon '@OlixBackOffice/Twig/form-theme-layout.html.twig' %#}

{% block title %}{{ parent() }} - Gérer les comptes et contrats{% endblock %}

{% block content_title %}<i class="fas fa-piggy-bank"></i> Gérer les comptes{% endblock %}
{% block content_subtitle %}(Contrat, épargne, capitalisation, ...){% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('transaction.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">{{ account.fullName }}</h3>
                        <div class="card-tools">
                        {% if not isReconcilied %}
                            <a data-remote="{{ path('transaction__create', { 'id': account.id }) }}" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter une opération</span></a>
                            <a data-remote="{{ path('transfer__create', { 'id': account.id }) }}" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter un virement</span></a>
                            <a data-remote="{{ path('reconciliation_create', { 'id': account.id }) }}" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalRecon"><i class="fas fa-check-circle"></i> <span class="d-none d-md-inline">Rapprochement</span></a>
                        {% else %}
                            {{ form_start(form.valid) }}
                                Rapprochement : <span class="p-2"><strong>{{ (account.reconCurrent)|format_currency('EUR', locale='fr') }}</strong></span>
                                Ecart : <span class="p-2"><strong id="txtGab">{{ (gab)|format_currency('EUR', locale='fr') }}</strong></span>
                                <input type="hidden" name="gab" id="gab" value="{{gab}}">
                                <button type="submit" id="btGab" data-remote="{{ path('reconciliation_index', { 'id': account.id }) }}" class="btn btn-primary btn-sm"{% if gab != 0 %} disabled{% endif %}><i class="fas fa-check-circle"></i> <span class="d-none d-md-inline">Valider le rapprochement</span></button>
                            {{ form_end(form.valid) }}
                        {% endif %}
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="p-2">
                            Rapproché : <span class="p-2 text-{% if account.reconBalance > 0 %}green{% else %}red{% endif %}"><strong>{{ account.reconBalance|format_currency('EUR', locale='fr') }}</strong></span>
                            Solde : <span class="p-2 text-{% if account.balance > 0 %}green{% else %}red{% endif %}"><strong>{{ account.balance|format_currency('EUR', locale='fr') }}</strong></span>
                        </div>
                    {{ form_start(form.filter, { 'action': path('account_get_transaction', { 'id': account.id }), 'attr': { 'id': 'formFilter' }}) }}
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.filter.range) }}</div>
                            <div class="col-md-6">{{ form_row(form.filter.state) }}</div>
                        </div>
                    {{ form_end(form.filter) }}
                    </div>
                </div>

                <div class="card card-outline" style="">
                    <div class="card-body table-responsive p-0">
                        <div id="tableTransactions" class="my-custom-scrollbar">
                        {% if transactions is defined %}
                            {% include "account/transaction-table.html.twig" %}
                        {% else %}
                            <table class="table table-sm table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Mode</th>
                                        <th>Bénéficiaire</th>
                                        <th>Catégories</th>
                                        <th>Etat</th>
                                        <th>Débit</th>
                                        <th>Crédit</th>
                                        <th>Solde</th>
                                        <th>Mémo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="9"><p class="text-center"><img alt="" src="/bundles/olixbackoffice/images/spinner-rectangle.gif"></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    {% include '@OlixBackOffice/Include/modal-form.html.twig' %}

    <div class="modal fade" id="modalRecon" tabindex="-1" aria-labelledby="modalReconLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'account/transaction-reconciliation.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
