{% extends 'base.html.twig' %}

{% form_theme form '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}

{% block title %}{{ parent() }} - Gérer les comptes et contrats{% endblock %}

{% block content_title %}<i class="fas fa-piggy-bank"></i> Gérer les comptes{% endblock %}
{% block content_subtitle %}(Contrat, épargne, capitalisation, ...){% endblock %}

{% block javascripts %}
{{ parent()}}
{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                {{ form_start(form) }}
                <div class="card card-{% if action == 'create' %}success{% else %}primary{% endif %}">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire {% if action == 'create' %}de création{% else %}d'édition{% endif %} d'un compte ou contrat</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('manage_account__index') }}" class="btn btn-sm btn-secondary">Annuler</a>
                        {% if action == 'create' %}
                            <button type="submit" class="btn btn-success float-right"><i class="fas fa-plus"></i> Ajouter</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-edit"></i> Modifier</button>
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}
