{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gérer les organismes{% endblock %}

{% block content_title %}<i class="far fa-building"></i> Gérer les organismes{% endblock %}
{% block content_subtitle %}(Banques, assureurs, fintech, ...){% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Liste des organismes</h3>
                        <div class="card-tools"><a href="{{ path('manage_institution__create') }}" class="btn btn-sm btn-success" data-toggle="olix-modal" data-target="#modalForm"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter un organime</span></a></div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in institutions %}
                                <tr>
                                    <td class="text-center"><img src="{{ item.logo }}" height="48"></td>
                                    <td class="align-middle"><b>{{ item.name }}<b></td>
                                    <td class="align-middle"><a href="{{ item.link }}" target="_blank">{{ item.link }}</td>
                                    <td class="text-right align-middle">
                                        <a href="{{ path('manage_institution__edit', {'id': item.id}) }}" class="btn btn-sm btn-info" data-toggle="olix-modal" data-target="#modalForm"><i class="fas fa-edit"></i><span class="d-none d-md-inline">&nbsp;Modifier<span></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun éléments dans la table</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="modal fade" id="modalForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chargement du formulaire</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><img alt="" src="{{ asset('bundles/olixbackoffice/images/spinner-rectangle.gif') }}"></p>
                </div>
            </div>
        </duv>
    </div>

{% endblock %}
