{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as mymacro %}

{% block title %}{{ parent() }} - Gérer les cotations boursières{% endblock %}

{% block content_title %}<i class="fas fa-landmark"></i> Gérer les cotations boursières{% endblock %}
{% block content_subtitle %}(actions, SICAV, FCP, ...){% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-5">
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Infos de l'action</h3>
                        <div class="card-tools"><a href="{{ path('manage_stock__edit', {'id': stock.id}) }}" class="btn btn-sm btn-info" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-edit"></i> <span class="d-none d-md-inline">Modifier</span></a></div>
                    </div>
                    <div class="card-body">
                    <div class="row my-3">
                            <div class="col-4">Code ISIN</div>
                            <div class="col-8 h3">{{ stock.codeISIN }}</div>
                        </div>
                        <div class="row my-3">
                            <div class="col-4">Nom</div>
                            <div class="col-8 h5">{{ stock.name }}</div>
                        </div>
                        {% if price.last %}
                            <div class="row my-3">
                                <div class="col-4">Dernier</div>
                                <div class="col-8"><strong class="text-primary">{{ price.last.price|number_format(2, ',', ' ') }} {{ unity }}</strong></div>
                            </div>
                            <div class="row my-3">
                                <div class="col-4">+ Haut</div>
                                <div class="col-8"><strong class="text-green">{{ price.max.price|number_format(2, ',', ' ') }} {{ unity }}</strong> <em>({{ price.max.date|date('d/m/Y') }})</em></div>
                            </div>
                            <div class="row my-3">
                                <div class="col-4">+ Bas</div>
                                <div class="col-8"><strong class="text-red">{{ price.min.price|number_format(2, ',', ' ') }} {{ unity }}</strong> <em>({{ price.min.date|date('d/m/Y') }})</em></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="card card-purple card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Graphique du cours</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart">{{ render_chart(chart, { style: 'height:320px;'}) }}</div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Historique des cotations boursières</h3>
                        <div class="card-tools">
                            <a href="{{ path('manage_stock__price_add', { id: stock.id }) }}" class="btn btn-sm btn-success" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter une nouvelle cotation</span></a>
                            <a href="{{ path('manage_stock__price_import', { id: stock.id }) }}" class="btn btn-sm btn-secondary" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Importer un fichier</span></a>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-sm table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-right">Valeur</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in prices %}
                                <tr>
                                    <td class="text-center">{{ item.date|date('d/m/Y') }}</td>
                                    <td class="text-right">{{ item.price|number_format(2, ',', ' ') }} {{ unity }}</td>
                                    <td class="text-right"><a href="{{ path('manage_stock__price_upd', { id: item.id }) }}" class="btn btn-sm btn-info" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-edit"></i><span class="d-none d-md-inline">&nbsp;Modifier<span></a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucune opérations trouvées</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>


    {% include '@OlixBackOffice/Include/modal.html.twig' with { title: "Chargement du formulaire" } %}

{% endblock %}
