{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as mymacro %}

{% block title %}{{ parent() }} - Gérer les véhicules{% endblock %}

{% block content_title %}<i class="fas fa-car"></i> Gérer les véhicules{% endblock %}
{% block content_subtitle %}(Voitures, motos, ...){% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Liste des véhicules</h3>
                        <div class="card-tools"><a href="{{ path('manage_vehicle__create') }}" class="btn btn-sm btn-success" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter un véhicule</span></a></div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Nom</th>
                                    <th class="text-center">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in vehicles %}
                                <tr>
                                    <td>{{ item.boughtAt|date('d/m/Y') }}</td>
                                    <td><b>{{ item.name }}</b></td>
                                    <td class="align-middle text-center">{{ item.getStatusBadge|raw }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('manage_vehicle__edit', {'id': item.id}) }}" class="btn btn-sm btn-info" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-edit"></i><span class="d-none d-md-inline">&nbsp;Modifier<span></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun éléments dans la table</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {% include '@OlixBackOffice/Include/modal.html.twig' with { title: "Chargement du formulaire" } %}

{% endblock %}
